.advert-container *
{
    display:block;
    float:left;
}
.advert-container
{
    line-height: 100px;
    width:95%;
    border: 2px solid grey;
    border-radius: 3px;
    background-color: white;
    height:100px;
}
.advert-control
{
    float:right;
    margin-right:10px;
    margin-top: 20px;
}
.advert-container .btn2
{
    margin-top: 15px;
    margin-right: 20px;
}