
.contact-form {
  width: 100%;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
  display: block;
}

.form {
  padding: 20px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.contact-form-text {

  width: 600px;
  margin: 10px 10px;
  border: 0;
  background: rgb(255, 255, 255);
  padding: 20px 40px;
  color: rgb(0, 0, 0);
  transition: 0.5s;

}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px rgb(205, 184, 50);
}

.contact-form-ico {
  background: rgb(255, 255, 255);
  display: inline;
  padding: 19px 20px;
  margin: 10px 0;
  outline: none;
  width: 20px;
}

.contact-form-btn {
  border: 0;
  background: #183194;
  color: rgb(119, 222, 222);
  font-weight: 500;
  padding: 20px 40px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;

}

.contact-form-btn:hover {
  background: rgb(205, 184, 50);
  color: black;
}

.header {
  display: flex;
  padding: 20px;
  height: auto;
}

.header2 {
  margin: 40px;
  clear: both;
}

.content
{
  margin-bottom:80px;
  clear: both;
  margin-top: 80px;
  
}

.header2 input
{
  margin-left:10px;
}

.header2 select
{
  margin-left:10px;
}

#typ-osoby-filtr
{
  float:left;
  margin-left:20px;
}

#kategoria-filtr
{
  margin-left: 40px;
  float:left;
  margin-top:12px;
}

.content p
{
  margin-left:20px;
}
