.pageOne {
    background-color: rgb(254, 255, 214);
    margin-right: 25px;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 20px;
    clear:both;
    border: 2px solid #183194;
    padding-top: 40px;
}

.pageOne .advert-container {
    margin-left: 30px;
}

.chosePage li {
    list-style-type: none;
}

.pageButton {
    background-color: rgb(254, 255, 214);
    border-radius: 10px;
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-bottom: -10px;
    border: 2px solid #183194;
}