<div class="form">
    <h2>Dodaj ogłoszenie</h2>
<form class="contact-form" action="/dodaj_ogloszenie" method="POST" >
	
    <input class="contact-form-text" type="text"  name="tytul" placeholder="Podaj tytuł" /><br></br>
    <textarea class="contact-form-text"  name="opis" rows="5" cols="50" placeholder="Podaj opis" ></textarea><br></br>
    <input class="contact-form-text" type="text"  name="lokalizacja" placeholder="Podaj lokalizacje" /><br></br>
    <input class="contact-form-text" type="text"  name="kategoria" placeholder="Podaj id kategorii"/><br></br>
    <input class="contact-form-text" type="text"  name="uzytkownik" placeholder="Podaj twoje id"/><br></br>
    <input class="contact-form-text" type="text"  name="typ" placeholder="Podaj typ ogłoszenia (oglaszam / szukam)"/><br></br>

<input class="contact-form-btn" type="submit" value="Dodaj " name="sub"/>

</form>


</div>